.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "header"
        "contenido"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

.header {
    background-color: #00cc99;
    grid-area: header;
}
 
.contenido {
    background-color: #ff8080;
    grid-area: contenido;
}

.footer {
    background-color: #0099ff;
    grid-area: footer;
}